<img src="/assets/img/red-car.png" alt="" class="car center">
<form class="login center" (ngSubmit)="login()" id="formData" #userData="ngForm">
  <mat-form-field appearance="fill" class="fields">
    <mat-label>Username</mat-label>
    <input matInput [(ngModel)]="user.username" name="username">
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill" class="fields">
    <mat-label>Password</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'"  placeholder="******" [(ngModel)]="user.password" name="password">
  </mat-form-field>
  <br>
  <button mat-button type="submit" mat-button class="btn">Login</button>

</form>
<div class="label center">Don't have an account? Jump to see the teams:</div>
<button class="btn center" routerLink="/f1-list">Show teams</button>
