.center {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Dosis', sans-serif;
  font-size: 20px;
}

.car {
  width: 250px;
}

.login {
  min-width: 150px;
  max-width: 600px;
  width: 100%;
}

.fields {
  width: 350px;
}

.btn {
  float: center;
  text-align: center;
  font-weight: bold;
  font-family: 'Courier New', monospace;
  font-size: 20px;
  background-color: #A6051A;
  border-radius: 10px;
  border: none;
  padding: 10px;
  width: 200px;
  color: #FFFFFF;
}

.label {
  margin-top: 60px;
  margin-bottom: 10px;
  font-weight: bold;
  font-family: 'Courier New', monospace;
}

