.btn {
  float: center;
  text-align: center;
  font-weight: bold;
  font-family: 'Courier New', monospace;
  font-size: 15px;
  background-color: #A6051A;
  border-radius: 10px;
  border: none;
  padding: 5px;
  width: 120px;
  color: #FFFFFF;
  margin-left: 5%;
  margin-bottom: 10px;
}

.f1teams-table{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid lightgray;
}

th.mat-header-cell{
  background-color: #A6051A;
  /* opacity: 0.75; */
  color: #FFFFFF;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Courier New', monospace;
}

.innerBtn {
  text-align: center;
  font-weight: bold;
  font-family: 'Courier New', monospace;
  font-size: 15px;
  background-color: #A6051A;
  border-radius: 10px;
  border: none;
  padding: 5px;
  width: 100px;
  color: #FFFFFF;
}

.update {
  background-color: #333333;
  margin-right: 10px;
}

h2 {
  font-family: 'Courier New', monospace;
  font-weight: bold;
  font-size: 30px;
}
.driver {
  width: 150px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center
}

.spacer {
  flex: 1 1 auto;
}

