<div class="container">
  <h2>F1 teams</h2>
  <span class="spacer"></span>
  <img src="assets/img/driver.png" class="driver">
</div>

<div>
  <button mat-raised-button (click)="createTeam()" class="btn" *ngIf="userService.getAuthStatus()">Create</button>
</div>


<table mat-table [dataSource]="f1teams" class="f1teams-table">
  <ng-container matColumnDef="teamName">
    <th mat-header-cell *matHeaderCellDef>Team name</th>
    <td mat-cell *matCellDef="let f1team"> {{f1team.teamName}} </td>
  </ng-container>

  <ng-container matColumnDef="yearOfEstablishment">
    <th mat-header-cell *matHeaderCellDef>Year of Establishment</th>
    <td mat-cell *matCellDef="let f1team"> {{f1team.yearOfEstablishment}} </td>
  </ng-container>

  <ng-container matColumnDef="numOfWorldChampionships">
    <th mat-header-cell *matHeaderCellDef>Number of World Championships won</th>
    <td mat-cell *matCellDef="let f1team"> {{f1team.numOfWorldChampionships}} </td>
  </ng-container>

  <ng-container matColumnDef="entryFeePaid">
    <th mat-header-cell *matHeaderCellDef>Is entry fee paid?</th>
    <td mat-cell *matCellDef="let f1team">
      <div *ngIf="f1team.entryFeePaid === 1">Paid</div>
      <div *ngIf="f1team.entryFeePaid === 0">Unpaid</div>
    </td>
  </ng-container>

  <ng-container matColumnDef="actions" *ngIf="userService.getAuthStatus()">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let f1team">
      <button mat-raised-button (click)="updateTeam(f1team.id)" *ngIf="userService.getAuthStatus()" class="innerBtn update">Modify</button>
      <button mat-raised-button (click)="deleteTeam(f1team.id)" *ngIf="userService.getAuthStatus()" class="innerBtn">Delete</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

